@import "../../../../stylesheets/color.scss";
@import "../../../../stylesheets/responsive.scss";
@import "../../../../stylesheets/common.scss";

.rc-test-managements-question-library {
  margin: 2rem 10%;
  position: relative;
  &-sub-nav {
    display: flex;
  }
}

.rc-react-sortable-tree {
  .rst__virtualScrollOverride {
    @include scrollStyle;
  }
  .rst__rowContents {
    cursor: pointer;
    .rc-react-sortable-tree-control-icon {
      // visibility: hidden;
      display: none;
      margin:0 0.5rem
    }
    &:hover {
      .rc-react-sortable-tree-control-icon {
        // visibility:visible;
        display: block
      }
    }
  }
}
.rc-modal-paper-delete-question-category{
  width: 500px;
  max-height:80vh;
  @include Responsive(SM) {
    width: 80%;
  }
}
