@import "../../stylesheets/responsive.scss";
.rc-profile {
  margin: 7rem 0 0 0;
  padding: 0 10%;
}
.rc-profile-content {
  padding-top: 3rem;
  .profile-head {
    display: flex;
    flex-direction: row;
    .rc-profile-avatar {
      width: 8rem;
      height: 8rem;
       .rc-avatar-add-item{
         width: 100%;
         height: 100%;
         border:0.01rem dashed gray;
         border-radius: 0.05rem;
         display:flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         .rc-avatar-text{
            color: gray;
            margin-top: 0.5rem;
         }
       } 
      }
       .rc-avatar-main-item{
        width: 100%;
        height: 100%;
        border:0.1rem dashed gray;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
        .rc-avatar-control-edit{
          position:absolute;
          top:0rem;
           display:none;
           justify-content:space-between;
           width:100%;
           height:100%;
           padding:1rem;
            background: #0000006b;
            
         }

         &:hover{
          .rc-avatar-control-edit{
          display:flex
          }
       }
      
    }
    .profile-name {
      margin-top: 4.5rem;
      margin-left: 2rem;
      .user-name {
        font-size: 1.5rem;
      }
      .user-id {
        color: #797979;
        font-size: 1rem;
      }
    }
  }
  .profile-content {
    padding: 2rem 0;
    .info-account {
      padding: 1rem 0;
  
    }
    .name-profile {
      padding: 1rem 1rem;
      color: #000000;
      font-size: 1.2rem;
      @include Responsive(XS) {
        padding: 2rem 0;
      }
    }
    .right-profile {
      .title,
      .value {
        padding: 01rem 1rem;
        color: #797979;
        font-size: 1.1rem;
      }
      .value {
        color: #000000;
      }
      .value:hover {
        cursor: pointer;
        border-radius: 0.2rem;
        background: #dfdfdf;
      }
    }
  }
  .info-account:not(:first-child) {
    border-top: 0.1rem solid #e1e1e1;
  }

  .password {
    font-size: 1.4rem;
  }
  #email {
    // word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background: unset;
      overflow: visible;
    }
    pointer-events: none;
  }
}

// Popover
.pop-profile {
  .ant-form-item-control-input-content {
    display: flex !important;
    flex-direction: row !important;
    // justify-content: center !important;
  }
  .ant-select {
    width: 100% !important;
  }
  .ant-popover-inner {
    min-width: 35rem !important;
  }
  .ant-picker {
    width: 100% !important;
  }
  .ant-form-item-control-input-content {
    min-height: 4rem !important;
  }
  .ant-select-selector {
    min-height: 4rem !important;
    .ant-select-selection-item {
      line-height: 4rem;
    }
  }
}
