.todo-list {
    & > li {
        cursor: pointer;
    }
    & > li.completed {
        font-style: italic;
        color: #ccc;
        text-decoration: line-through;
    }

    & > li.completed {
        color: #ccc;
        font-style: italic;
        text-decoration: line-through;
    }
}
