@import "../../../stylesheets/color.scss";
@import "../../../stylesheets/responsive.scss";
@import "../../../stylesheets/common.scss";
.rc-modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  &-paper {
    // padding: 4rem 0 2rem 0;
    box-sizing: border-box;
    position: relative;
    outline: none;

    &-title-control{
      position: relative;
      display: flex;
      align-items: center;
      p{
        color: rgba(234, 51, 37, 1);
        text-align: center;
        font-size: 1.5rem;
        margin:1rem 0  !important;
        width: 100%;
      }
    }
    &-close {
      position: absolute !important;
      right: 1rem;
    }
    &-overflow {
      width: 100%;
      height: 100%;
      max-height: calc(100% - 100px);
      box-sizing: border-box;
      &-main {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 2rem;
        border-top: 0.2px solid rgba(128, 128, 128, 0.295);
        box-sizing: border-box;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 0.2rem;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgb(169, 169, 169);
          outline: 1px solid slategrey;
          border-radius: 5px;
        }
      }
    }
  }
}
