
.rc-autocomplete-filter{
    padding-top:12px;
    width:200px;
    margin-right:50px;
    .MuiAutocomplete-popupIndicator{
        transform:"unset !important"
    }
}
.rc-autocomplete-filter-text-field{

    &:input{
        color:"#8C8B8B",

    }
    
}